// param of output dir
params {
    WORKDIR     = ""  // Location store output
    PP_REPO     = ""
    OUTDIR      = "$params.WORKDIR/"
    FQDIR       = "$params.FQDIR/"
    READLENGTH  = 50
}

// params of CPU
params {
    FASTQC_THREAD      = 4
    TRIM_THREAD        = 6
    ALIGN_THREAD       = 16
    ALIGN_WCX_THREAD   = 16
    SAMTOOLSORT_THREAD = 6
    FRAGSIZE_THREAD    = 4
    NIPTER_THREAD      = 1
    REPORT_THREAD      = 16
}

process {
    withName:FastQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
        cpus = 4
        memory = { 4.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="FastQC"'
    }

    withName:Dedupfastq {
        container = 'quay.io/biocontainers/bbmap:39.01--h5c4e2a8_0' //'cathrine98/bbmap:latest'
        cpus = 4
        memory = { 12.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Dedupfastq"'
    }

    withName:Trim {
        container = 'staphb/trimmomatic:latest'
        cpus = 6
        memory = { 8.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Trim"'
    }

    withName:Align {
        container = 'biocontainers/bowtie2:v2.4.1_cv1'
        cpus = 16
        memory = { 12.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Align"'
    }

    withName:Align_bwa {
        container = 'quay.io/biocontainers/bwa:0.7.17--h5bf99c6_8'
        cpus = 16
        memory = { 16.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Align_bwa"'
    }

    withName:SortBam {
        container = 'quay.io/biocontainers/samtools:1.13--h8c37831_0'
        cpus = 4
        memory =  { 20.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="SortBam"'
    }

    withName:Preprocessing {
        container = 'gene110/gw_pipeline:v2'
        cpus = 2
        memory = { 8.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Preprocessing"'
    }

    withName:Calculate_feature {
        container = 'tronghieunguyen/ecd_features:latest'
        cpus = 1
        memory = { 30.GB * task.attempt } 
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Calculate_feature"'
    }

    withName:Predict {
        container = 'gene110/samtools_python:v5'
        cpus = 2
        memory = { 10.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Predict"'
    }

    withName:Summary_feature {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 10.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Summary_feature"'
    }

    withName:Read_count {
        container = 'dqpham/ichorcna:latest'
        cpus = 2
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Read_count"'
    }

    withName:Run_ichorCNA {
        container = 'dqpham/ichorcna:latest'
        cpus = 2
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Run_ichorCNA"'
    }

    withName:Summary_tumor_fraction {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Summary_tumor_fraction"'
    }

    withName:Mpileup {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 500.MB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Mpileup"'
    }

    withName:Summary_Mpileup {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 500.MB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Summary_Mpileup"'
    }

    withName:Cal_depth {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 500.MB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Cal_depth"'
    }

    withName:Summary_Depth {
        container = 'gene110/samtools_python:v4'
        cpus = 2
        memory = { 500.MB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
        // executor = 'slurm'
        // queue = 'research_hi'
        // clusterOptions = '--job-name="Summary_Depth"'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --rm --shm-size=256m'
}